@using Azyobuzi.OwinRazor.Sample.Models
@using Azyobuzi.OwinRazor.Sample.Views
@inherits Azyobuzi.OwinRazor.TemplateBase<IndexModel>
@{
    Layout = new Layout();
    ViewBag.Title = "こんにちは世界";
}

<p>Hello, @await PartialAsync(new NameCard(), Model.Name)</p>

@section footer
{
    <p><a href="~/">Home</a> | <a href="~/linktest/">Link Test</a></p>
}